---
http_interactions:
- request:
    method: post
    uri: https://app.loops.so/api/v1/transactional
    body:
      encoding: ASCII-8BIT
      string: '{"transactionalId":"cmiw99wj70qkx330ixxs0olyr","email":"test@example.com"}'
    headers:
      Authorization:
      - Bearer <LOOPS_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Remaining:
      - '19'
      Etag:
      - '"3bcjwwv8z5t"'
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"Missing ''dataVariables'' object.","error":{"path":"dataVariables","message":"Missing
        required fields: test_key"},"path":"dataVariables","transactionalId":"cmiw99wj70qkx330ixxs0olyr"}'
  recorded_at: Tue, 16 Dec 2025 17:54:28 GMT
recorded_with: VCR 6.3.1
